

    <%	place = ActiveSupport::JSON.decode(open("https://graph.facebook.com/#{@micrositio.referencefb}?&access_token=#{current_user.oauth_token}").read) %>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="img-responsive">
            <%	 if place['cover'].nil?  %>
            <%	else  %>
                <div class="img-responsive" style="height: 100px; overflow: hidden">
                  <%= image_tag(place['cover']['source'])  %>
                </div>
            <%	end  %>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <h1> <%= place['name']	  %></h1>
          <div class="col-md-6" style="padding-top: 40px">
            <%= render 'follow_form' if signed_in? %>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="col-md-6 col-xs-12">
          <div class="comentariosfbmicrositio">
            <div class="fb-comments" data-href="<%=request.original_url%>" data-numposts="10" data-width= "400"></div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
        </div>
      </div>

    </div>















