

<%	place = ActiveSupport::JSON.decode(open("https://maps.googleapis.com/maps/api/place/details/json?reference=#{@micrositio.reference}&sensor=true&key=AIzaSyCxH3uvobKynTSs63CoAcTQSB0xzCRduCs").read) %>


<div class="col-md-12">
  <div class="col-md-6 col-xs-12">
    <div class="img-responsive">
      <%	 if place['result']['photos'].nil?  %>
      <%	else  %>
      <%= image_tag("https://maps.googleapis.com/maps/api/place/photo?maxwidth=500&photoreference=#{place['result']['photos'][0]['photo_reference']}&sensor=true&key=AIzaSyCxH3uvobKynTSs63CoAcTQSB0xzCRduCs")  %>
      <%	end  %>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
       <h1> <%= place['result']['name']	  %></h1>
  </div>
</div>






