<div class="padded5">
  <button class="btn btn-mini">
    Button
  </button>
  <button class="btn btn-mini light-blue inverse">
    Button
  </button>
  <button class="btn btn-mini medium-blue">
    Button
  </button>
  <button class="btn btn-mini dark-blue">
    Button
  </button>

  <button class="btn btn-mini disabled">
    Button
  </button>
  <button class="btn btn-mini light-blue inverse disabled">
    Button
  </button>
  <button class="btn btn-mini medium-blue disabled">
    Button
  </button>
  <button class="btn btn-mini dark-blue disabled">
    Button
  </button>
</div>

<div class="padded5">
  <button class="btn btn-small">
    Button
  </button>
  <button class="btn btn-small light-blue inverse">
    Button
  </button>
  <button class="btn btn-small medium-blue">
    Button
  </button>
  <button class="btn btn-small dark-blue">
    Button
  </button>

  <button class="btn btn-small disabled">
    Button
  </button>
  <button class="btn btn-small light-blue inverse disabled">
    Button
  </button>
  <button class="btn btn-small medium-blue disabled">
    Button
  </button>
  <button class="btn btn-small dark-blue disabled">
    Button
  </button>
</div>

<div class="padded5">
  <button class="btn">
    Button
  </button>
  <button class="btn light-blue inverse">
    Button
  </button>
  <button class="btn medium-blue">
    Button
  </button>
  <button class="btn dark-blue">
    Button
  </button>
  <button class="btn disabled">
    Button
  </button>
  <button class="btn light-blue inverse disabled">
    Button
  </button>
  <button class="btn medium-blue disabled">
    Button
  </button>
  <button class="btn dark-blue disabled">
    Button
  </button>
</div>