<div class="padded5">
  <div class="btn-group">
    <button class="btn light-blue inverse dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a>Action</a></li>
      <li><a>Another action</a></li>
      <li><a>Something else here</a></li>
      <li class="divider"></li>
      <li><a>Separated link</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn medium-blue dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a>Action</a></li>
      <li><a>Another action</a></li>
      <li><a>Something else here</a></li>
      <li class="divider"></li>
      <li><a>Separated link</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dark-blue dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a>Action</a></li>
      <li><a>Another action</a></li>
      <li><a>Something else here</a></li>
      <li class="divider"></li>
      <li><a>Separated link</a></li>
    </ul>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn light-blue inverse" ><i class="icon-comments-alt"></i> Dropdown</button>
    <button class="btn light-blue inverse dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a ><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn medium-blue" ><i class="icon-gift"></i> Dropdown</button>
    <button class="btn medium-blue dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-eye-open"></i> View</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-pencil"></i> Change</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dark-blue" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn dark-blue dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>