<div class="padded5">
  <div class="btn-group">
    <button class="btn green"><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn green dropdown-toggle" data-toggle="dropdown"><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn red" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn red dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn blue" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn blue dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-small turquoise" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn btn-small turquoise dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-small plum" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn btn-small plum dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn btn-small orange" ><i class="icon-leaf"></i> Dropdown</button>
    <button class="btn btn-small orange dropdown-toggle" data-toggle="dropdown" ><span class="icon-caret-down"></span></button>
    <ul class="dropdown-menu">
      <li><a><i class="icon-pencil"></i> Edit</a></li>
      <li><a><i class="icon-trash"></i> Delete</a></li>
      <li><a><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>