<div class="padded5">
  <button class="btn btn-small">
    Button
  </button>
  <button class="btn btn-small green">
    Button
  </button>
  <button class="btn btn-small red">
    Button
  </button>
  <button class="btn btn-small blue">
    Button
  </button>
  <button class="btn btn-small btn-inverse">
    Button
  </button>
  <button class="btn btn-small turquoise">
    Button
  </button>
  <button class="btn btn-small plum">
    Button
  </button>
  <button class="btn btn-small orange">
    Button
  </button>
  <button class="btn btn-small yellow">
    Button
  </button>
</div>

<div class="padded5">
  <button class="btn btn-small disabled">
    Button
  </button>
  <button class="btn btn-small green disabled">
    Button
  </button>
  <button class="btn btn-small red disabled">
    Button
  </button>
  <button class="btn btn-small blue disabled">
    Button
  </button>
  <button class="btn btn-small btn-inverse disabled">
    Button
  </button>
  <button class="btn btn-small turquoise disabled">
    Button
  </button>
  <button class="btn btn-small plum disabled">
    Button
  </button>
  <button class="btn btn-small orange disabled">
    Button
  </button>
  <button class="btn btn-small yellow disabled">
    Button
  </button>
</div>