<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="box bordered icons-list">
        <div class="box-header">
          <icon class="icon-globe"></icon> World Map
        </div>
        <div class="padded">
          <%= partial "/partials/extras/world-map" %>
        </div>
      </div>
    </div>
  </div>
</div>
