
<!-- top navbar -->
<div class="navbar navbar-fixed-top" role="navigation" style="padding-top: 0px; background-color: #f5f5f5">
    <div class="navbar-header">



    </div>


  <div>
      <nav class="hidden-xs col-md-offset-3">
        <ul class="nav " style="margin-right: 5%; padding-top: 20px">

          <ul class="pull-right">
            <li id="fat-menu" class="dropdown">

                      <%= link_to image_tag("http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png", class: "avatarchiquito"),     root_path   %>
                      <%= link_to "Regístrate ahora!",    root_path   %>


            </li>
          </ul>


        </ul>
      </nav>

  </div>



</div>