<!DOCTYPE html>
<html>
<head>
  <%=	 render "layouts/header2" %>
</head>

<body  style="background-color: #808080">



<%=	 render "layouts/googleanalytics" %>

<%=	 render "layouts/bodyapp" %>

</body>
</html>
